<a href="https://colab.research.google.com/github/SwatiHiwrale/DMW/blob/main/DMW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data=pd.read_csv("CanteenDataSet.csv")

In [ ]:
import numpy as pi
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

                    Tea, Samosa, Sandwich
0          Samosa, Tea, Sandwich, Noodles
1       Samosa, Cold Coffee, French Fries
2                Pizza, Maggie,Samosa,Tea
3             Maggie,Cold Coffee,Sandwich
4         Samosa,Cold Coffee,French Fries
5              Maggie,Cold Coffee,Noodles
6      Maggie,Samosa,Cold Coffee,Sandwich
7         Pizza,Maggie,Samosa,Cold Coffee
8                              Samosa,Tea
9   Black Tea,Manchurian,Sandwich,Noodles
10  Black Tea,Manchurian,Sandwich,Noodles
11    Black Tea,Fried Maggie,French Fries
12            Samosa,Black Tea,Manchurian
13           Samosa,Fried Maggie,Sandwich
14        Black Tea,Fried Maggie,Sandwich
15       Samosa,Fried Maggie,French Fries
16          Samosa,Black Tea,Fried Maggie
17          Samosa,Black Tea,Fried Maggie
18      Cold Coffee,Tea,Black Tea,Noodles

In [ ]:
data.shape

(19, 1)

In [ ]:
data.shape
data.columns=['Dishes']

In [ ]:
from mlxtend.preprocessing import TransactionEncoder 
# We can transform data into the right format via the TransactionEncoder

In [ ]:
# Via the fit method, the TransactionEncoder learns the unique labels in the dataset,
# and via the transform method, it transforms the input dataset 
#(a Python list of lists) into a one-hot encoded NumPy boolean array
transactions=[]
items=data['Dishes'].values
print(items)

['Samosa, Tea, Sandwich, Noodles' 'Samosa, Cold Coffee, French Fries'
 'Pizza, Maggie,Samosa,Tea' 'Maggie,Cold Coffee,Sandwich'
 'Samosa,Cold Coffee,French Fries' 'Maggie,Cold Coffee,Noodles'
 'Maggie,Samosa,Cold Coffee,Sandwich' 'Pizza,Maggie,Samosa,Cold Coffee'
 'Samosa,Tea' 'Black Tea,Manchurian,Sandwich,Noodles'
 'Black Tea,Manchurian,Sandwich,Noodles'
 'Black Tea,Fried Maggie,French Fries' 'Samosa,Black Tea,Manchurian'
 'Samosa,Fried Maggie,Sandwich' 'Black Tea,Fried Maggie,Sandwich'
 'Samosa,Fried Maggie,French Fries' 'Samosa,Black Tea,Fried Maggie'
 'Samosa,Black Tea,Fried Maggie' 'Cold Coffee,Tea,Black Tea,Noodles']

In [ ]:
for i in range (0,len(items)):
    transactions.append(items[i].split(","))
    
print(transactions)

[['Samosa', ' Tea', ' Sandwich', ' Noodles'], ['Samosa', ' Cold Coffee', ' French Fries'], ['Pizza', ' Maggie', 'Samosa', 'Tea'], ['Maggie', 'Cold Coffee', 'Sandwich'], ['Samosa', 'Cold Coffee', 'French Fries'], ['Maggie', 'Cold Coffee', 'Noodles'], ['Maggie', 'Samosa', 'Cold Coffee', 'Sandwich'], ['Pizza', 'Maggie', 'Samosa', 'Cold Coffee'], ['Samosa', 'Tea'], ['Black Tea', 'Manchurian', 'Sandwich', 'Noodles'], ['Black Tea', 'Manchurian', 'Sandwich', 'Noodles'], ['Black Tea', 'Fried Maggie', 'French Fries'], ['Samosa', 'Black Tea', 'Manchurian'], ['Samosa', 'Fried Maggie', 'Sandwich'], ['Black Tea', 'Fried Maggie', 'Sandwich'], ['Samosa', 'Fried Maggie', 'French Fries'], ['Samosa', 'Black Tea', 'Fried Maggie'], ['Samosa', 'Black Tea', 'Fried Maggie'], ['Cold Coffee', 'Tea', 'Black Tea', 'Noodles']]

In [ ]:
encoder=TransactionEncoder()
tran=encoder.fit(transactions).transform(transactions)
print(tran)

[[False False False  True  True  True False False False False False False
  False False  True False False]
 [ True  True False False False False False False False False False False
  False False  True False False]
 [False False  True False False False False False False False False False
  False  True  True False  True]
 [False False False False False False False  True False False  True False
  False False False  True False]
 [False False False False False False False  True  True False False False
  False False  True False False]
 [False False False False False False False  True False False  True False
   True False False False False]
 [False False False False False False False  True False False  True False
  False False  True  True False]
 [False False False False False False False  True False False  True False
  False  True  True False False]
 [False False False False False False False False False False False False
  False False  True False  True]
 [False False False False False False  True False False False False  True
   True False False  True False]
 [False False False False False False  True False False False False  True
   True False False  True False]
 [False False False False False False  True False  True  True False False
  False False False False False]
 [False False False False False False  True False False False False  True
  False False  True False False]
 [False False False False False False False False False  True False False
  False False  True  True False]
 [False False False False False False  True False False  True False False
  False False False  True False]
 [False False False False False False False False  True  True False False
  False False  True False False]
 [False False False False False False  True False False  True False False
  False False  True False False]
 [False False False False False False  True False False  True False False
  False False  True False False]
 [False False False False False False  True  True False False False False
   True False False False  True]]

In [ ]:
encodedData=pd.DataFrame(data = tran, columns = encoder.columns_, dtype = int)
print(encodedData)

     Cold Coffee   French Fries   Maggie   Noodles   Sandwich   Tea  \
0              0              0        0         1          1     1
1              1              1        0         0          0     0
2              0              0        1         0          0     0
3              0              0        0         0          0     0
4              0              0        0         0          0     0
5              0              0        0         0          0     0
6              0              0        0         0          0     0
7              0              0        0         0          0     0
8              0              0        0         0          0     0
9              0              0        0         0          0     0
10             0              0        0         0          0     0
11             0              0        0         0          0     0
12             0              0        0         0          0     0
13             0              0        0         0          0     0
14             0              0        0         0          0     0
15             0              0        0         0          0     0
16             0              0        0         0          0     0
17             0              0        0         0          0     0
18             0              0        0         0          0     0

    Black Tea  Cold Coffee  French Fries  Fried Maggie  Maggie  Manchurian  \
0           0            0             0             0       0           0
1           0            0             0             0       0           0
2           0            0             0             0       0           0
3           0            1             0             0       1           0
4           0            1             1             0       0           0
5           0            1             0             0       1           0
6           0            1             0             0       1           0
7           0            1             0             0       1           0
8           0            0             0             0       0           0
9           1            0             0             0       0           1
10          1            0             0             0       0           1
11          1            0             1             1       0           0
12          1            0             0             0       0           1
13          0            0             0             1       0           0
14          1            0             0             1       0           0
15          0            0             1             1       0           0
16          1            0             0             1       0           0
17          1            0             0             1       0           0
18          1            1             0             0       0           0

    Noodles  Pizza  Samosa  Sandwich  Tea
0         0      0       1         0    0
1         0      0       1         0    0
2         0      1       1         0    1
3         0      0       0         1    0
4         0      0       1         0    0
5         1      0       0         0    0
6         0      0       1         1    0
7         0      1       1         0    0
8         0      0       1         0    1
9         1      0       0         1    0
10        1      0       0         1    0
11        0      0       0         0    0
12        0      0       1         0    0
13        0      0       1         1    0
14        0      0       0         1    0
15        0      0       1         0    0
16        0      0       1         0    0
17        0      0       1         0    0
18        1      0       0         0    1

In [ ]:
encodedData.head(4)

,Cold Coffee,French Fries,Maggie,Noodles,Sandwich,Tea,Black Tea,Cold Coffee,French Fries,Fried Maggie,Maggie,Manchurian,Noodles,Pizza,Samosa,Sandwich,Tea
0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,1,0,0
1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,1
3,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0

In [ ]:
support=apriori(encodedData,min_support=0.2,use_colnames=True)
support.sort_values(by = 'support', ascending = False)
confidence = association_rules(support, metric = 'confidence', min_threshold = 0.3)
confidence.sort_values(by = 'confidence', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Maggie),(Cold Coffee),0.210526,0.315789,0.210526,1.000000,3.166667,0.144044,inf
0,(Fried Maggie),(Black Tea),0.315789,0.421053,0.210526,0.666667,1.583333,0.077562,1.736842
3,(Cold Coffee),(Maggie),0.315789,0.210526,0.210526,0.666667,3.166667,0.144044,2.368421
4,(Fried Maggie),(Samosa),0.315789,0.631579,0.210526,0.666667,1.055556,0.011080,1.105263
1,(Black Tea),(Fried Maggie),0.421053,0.315789,0.210526,0.500000,1.583333,0.077562,1.368421
5,(Samosa),(Fried Maggie),0.631579,0.315789,0.210526,0.333333,1.055556,0.011080,1.026316

In [ ]:
from google.colab import drive
drive.mount('/content/drive')